<!doctype html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#0c60ff">

    <!-- fav icons -->
    <link rel="shortcut icon" href="{{ static_url("images/favicon.png") }}"/>
    <link rel="apple-touch-icon" href="{{ static_url("images/favicon.png") }}"/>
    <link rel="apple-touch-icon-precomposed" href="{{ static_url("images/favicon.png") }}"/>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4/dist/css/bootstrap.min.css">
    <title>Cloud Panel</title>
</head>
<body>
<div class="container">
    <h1 class="display-1">Cloud Panel</h1>
    <button class="btn btn-outline-success btn-lg btn-block" type="button"
            data-toggle="modal" data-target="#create-modal">
        Create
    </button>
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th scope="col">ss_config</th>
            <th scope="col">state</th>
            <th scope="col">ip</th>
            <th scope="col">provider</th>
            <th scope="col">action</th>
        </tr>
        </thead>
        <tbody id="tbody"></tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="create-modal" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create node</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="create">
                        <div class="form-group row">
                            <label for="provider-select" class="col-sm-2 col-form-label">Provider</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="provider-select" name="provider_name">
                                    {% for provider_name, _ in available_providers.items() %}
                                    <option value="{{ provider_name }}">{{ provider_name }}</option>
                                    {% end %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="image-select" class="col-sm-2 col-form-label">Image</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="image-select" name="image_id">
                                    {% for provider_name, provider_config in available_providers.items() %}
                                    {% for image_id in provider_config['image_ids'] %}
                                    <option value="{{ image_id }}" data-provider-name="{{ provider_name }}">
                                        {{ provider_name }} - {{ image_id }}
                                    </option>
                                    {% end %}
                                    {% end %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="size-select" class="col-sm-2 col-form-label">Size</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="size-select" name="size_id">
                                    {% for provider_name, provider_config in available_providers.items() %}
                                    {% for size_id in provider_config['size_ids'] %}
                                    <option value="{{ size_id }}" data-provider-name="{{ provider_name }}">
                                        {{ provider_name }} - {{ size_id }}
                                    </option>
                                    {% end %}
                                    {% end %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button class="btn btn-primary" onclick="create();return false;">Create</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/reconnectingwebsocket@1/reconnecting-websocket.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
<script src="{{ static_url("scripts/index.js") }}"></script>
</body>
</html>
