<!doctype html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#0c60ff">

    <!-- fav icons -->
    <link rel="shortcut icon" href="{{ static_url("images/favicon.png") }}"/>
    <link rel="apple-touch-icon" href="{{ static_url("images/favicon.png") }}"/>
    <link rel="apple-touch-icon-precomposed" href="{{ static_url("images/favicon.png") }}"/>

    <title>Cloud Panel</title>
</head>
<body>
<div class="container">
    <h1>Welcome</h1>
</div>
<script src="{{ static_url("scripts/index.js") }}"></script>
</body>
</html>
